* {
    box-sizing: border-box;
    margin: 0;
}
p {
    margin-bottom: 0;
}
header {
    background: #0a2f59;
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}
main {
    input[type=radio] {
        visibility: hidden;
        display: none;
        margin: 0 auto;
        &:checked+.menu {
            color: #ffc80a;
            border: none;
            border-bottom: 1px solid #fff;
            background: #c20d00;
        }
    }
    .menu {
        text-transform: uppercase;
        display: inline-block;
        margin: 20px 0 0px;
        padding: 15px 60px;
        font-weight: 600;
        text-align: center;
        font-size: 0.9em;
        color: #2c2c2f;
        border: none;
        background: #eff0f1;
        line-height: 1.5;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
    }
    .content1,.content2,.content3,.content4,.content5,.content6 {
        text-align: initial;
        margin: 25px 0;
        padding: 10px 0;
        display: none;
        border: 1px solid #ddd;
        form {
            padding: 15px 40px;
            label {
                text-transform: none;
                background: none;
                display: block;
            }
        }
        .btn-outline-primary {
            display: inline-block;
            margin: 10px 0;
            color: #c20d00;
            border: 1px solid #c20d00;
            &:hover {
                background: #c20d00;
                color: white;
            }
        }
        .instruction {
            padding: 15px 40px;
            .dropcap::first-letter {
                font-size: 60px;
                padding-right: 8px;
                float:left;
                line-height: 0.6;
                font-family: georgia;
            }
            .dropcaps::first-letter {
                line-height: 0.7;
                font-size: 50px;
                padding-right: 8px;
                float:left;
                font-family: georgia;
            }
            .box {
                border-left: 5px solid #0a2f59;
                padding: 10px;
                margin: 10px 15px;
                background:#7598bf; 
                .a {
                    font-size: 18px;
                    display: inline-block;
                    .b {
                        display: block;
                        padding: 0 5px;
                        position: relative;
                        top: 5px;
                        text-align: center;
                    }
                    .c{
                        border-top: 1px solid black;
                    }
                }
            }
            .table {
                width: 30%;
            }
        }
    }
    .content1 {
        form {
            label {
                width: 10%;
            }
            input {
                width: 15%;
            }
            p {
                color: red;
            }
        }
    }
    .content2 {
        button {
            position: relative;
            left: 47.5%;
        }
    }
    #tab1:checked~.content1, #tab2:checked~.content2, #tab3:checked~.content3,#tab4:checked~.content4, #tab5:checked~.content5, #tab6:checked~.content6 {
        display: block;
    }
    #content {
        padding: 15px 40px;
        span {
            display: block;
            padding: 10px 0;
            select {
                margin-left: 10px;
                width: 150px;
            }
        }
        table, ul {
            position: relative;
            left: 20%;
            width: 30%;
        }
    }
}
footer {
    background: #0a2f59;
    color: #bab9b9;
    a {
        color: #bab9b9;
        text-decoration: none;
    }
}